table.tagstable{
width:30%;
float:left;
margin-right:28px;
}

#managetags{
overflow:hidden;
}


.addAquestion{
border:1px solid #ccc;
padding:30px;
margin:10px;
overflow:hidden;
}

span#inputs span{
margin-right:10px;
}
span#inputs input, span#inputs select{
margin-right:10px;
width:15%;
}
span#inputs textarea{
width:45%;
margin-right:30px;
 resize: vertical;
}


  .masthead {
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee ;
    display:block;
    position:fixed;
    background:#fff;
    width:100%;
    top:0;
}

.muted{
    color: #999999;
    margin-left: 10%;
    margin-top: 23px;
}
ul.nav.nav-pills.pull-right {
    margin-right: 10%;
    margin-top: 29px;
    margin-bottom: 0;
}
.footer {
    padding-left: 10%;
    padding-right: 10%;
}
span.langsetting {
    float: right;
}
div#sepmanagepage{
width:80%;
margin:0 auto;
}
div#manageall {
    margin-top: 6%;
}
h1.managepagetitle {
    text-align: center;
        margin-bottom: 35px;
}
span.stat {
    float: right;
}
table#myTable tr th:after{
content:"▾";
}
table#myTable tr th:hover{
background:#eeeeee;
}
table#myTable{
margin-top:25px;
}